**Analisi del file Prestiti**

---
<p style="color:red; font-size:18px; font-weight:bold;">
üö® Il presente notebook √® riutilizzabile al 99% con il vostro dataset. üö®
</p>
---

Gli unici punti sui quali intervenire sono la riga di lettura del file:
- `df = pd.read_csv("Credit_ISLR.csv")`
- quando c'√® menzione esplicita di colonne (in genere associato ad un argomento `columns`)

# Caricamenti
In questo capitolo di importano i package (se gi√† installati) necessari al notebook:

In [4]:
import pandas as pd
import numpy as np

Caricamento dei **dati**:

In [5]:
pd.read_csv("german_credit_data.csv")

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,2,49,male,1,own,little,NaN,2096,12,education,good
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,4,53,male,2,free,little,little,4870,24,car,bad
...,...,...,...,...,...,...,...,...,...,...,...
995,995,31,female,1,own,little,NaN,1736,12,furniture/equipment,good
996,996,40,male,3,own,little,little,3857,30,car,good
997,997,38,male,2,own,little,NaN,804,12,radio/TV,good
998,998,23,male,2,free,little,little,1845,45,radio/TV,bad
999,999,27,male,2,own,moderate,moderate,4576,45,car,good

Sola visualizzazione. Vogliamo ora salvare il file in un dataframe (una tabella righe e colonne)

In [6]:
df = pd.read_csv("german_credit_data.csv")

Vediamo la classe dell'oggetto `df`:

In [7]:
type (df)   # --.> df appartiene alla classe dei dataframe perch√® √® stato creato dalla funzione pandas `read_csv`

pandas.core.frame.DataFrame

Il metodo `head` visualizza le prime 5 righe:

In [8]:
df.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,2,49,male,1,own,little,NaN,2096,12,education,good
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,4,53,male,2,free,little,little,4870,24,car,bad

Il metodo `tail` visualizza le ultime 5 righe:

In [9]:
df.tail()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
995,995,31,female,1,own,little,NaN,1736,12,furniture/equipment,good
996,996,40,male,3,own,little,little,3857,30,car,good
997,997,38,male,2,own,little,NaN,804,12,radio/TV,good
998,998,23,male,2,free,little,little,1845,45,radio/TV,bad
999,999,27,male,2,own,moderate,moderate,4576,45,car,good

Le prime due colonne sono inutili e pertanto le eliminamo con il metodo `drop`:

In [11]:
df.drop(columns=["Unnamed: 0"], inplace=True)  # l'argomento 'inplace = True' rende la cancellazione delle due colonne definitiva

In [12]:
df.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,49,male,1,own,little,NaN,2096,12,education,good
3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,little,4870,24,car,bad

Ogni riga rappresenta un cliente, descritto tramite una serie di attributi (le colonne).

Vediamo ora le dimensioni del dataframe

In [13]:
df.shape    # le dimensioni del dataframe --> 400 righe e 11 colonne

(1000, 10)

L'elenco delle colonne (in formato python `list`):

In [14]:
list(df.columns)

['Age',
 'Sex',
 'Job',
 'Housing',
 'Saving accounts',
 'Checking account',
 'Credit amount',
 'Duration',
 'Purpose',
 'Risk']

In Python le **parentesi [] servono per due scopi soli**:
- subsetting (vedi pi√π avanti)
- definizione di una lista (un oggetto appartenente alla classe `list`)

Il metodo `dtypes` (senza parentesi!) fornisce il datatype elementare delle varie colonne:

In [15]:
df.dtypes

Age                  int64
Sex                 object
Job                  int64
Housing             object
Saving accounts     object
Checking account    object
Credit amount        int64
Duration             int64
Purpose             object
Risk                object
dtype: object

**Data-type di pandas**<br>
Ecco i principali **data type (dtype) di pandas**.

**Numerici**

* `int64`, `int32`, `int16`, `int8`
* `float64`, `float32`, `float16`
* `complex128`, `complex64`
* `bool`

**‚ÄúNullable‚Äù di pandas (consentono `pd.NA`)**

* `Int64`, `Int32`, `Int16`, `Int8`  (attenzione: I maiuscola)
* `Float64`, `Float32` (a seconda della versione)
* `boolean`
* `string`

**Date e tempi**

* `datetime64[ns]`
* `timedelta64[ns]`
* `datetime64[ns, <tz>]` (timezone-aware)

**Testo e generici**

* `object` (storico: stringhe miste, oggetti Python)
* `category` (categorico)
* `string` (consigliato per testo ‚Äúpulito‚Äù)

#**Altro (meno comune)**

* `UInt64`, `UInt32`, ‚Ä¶ (interi senza segno, nullable)
* `Sparse[...]` (dati sparsi)
* `Interval[...]` (intervalli)
* `Period[...]` (periodi, es. mensile)
* `Int64Dtype`, `StringDtype`, ecc. (le classi dtype sottostanti)

Per vedere i dtype reali di un DataFrame:

```python
df.dtypes
```

Per elencare tutti i dtype disponibili (incluse le estensioni):

```python
import pandas as pd
pd.api.types.pandas_dtype("Int64")
```

In [16]:
df.size

10000

Un utili sintesi del dataframe √® data dal metodo `info`:
- la classe alla quale l'oggetto appartiene
- c'√® un indice numerato (modificabile) creato automaticamente dalla funzione `read_csv` precedente
- l'elenco delle colonne con il numero di valori (possono esserci NA/MV) e con il data-type della colonna
- l'occupazione di memoria RAM del dataframe intero

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  400 non-null    int64
 1   ID          400 non-null    int64
 2   Income      400 non-null    float64
 3   Limit       400 non-null    int64
 4   Rating      400 non-null    int64
 5   Cards       400 non-null    int64
 6   Age         400 non-null    int64
 7   Education   400 non-null    int64
 8   Gender      400 non-null    object
 9   Student     400 non-null    object
 10  Married     400 non-null    object
 11  Ethnicity   400 non-null    object
 12  Balance     400 non-null    int64
dtypes: float64(1), int64(8), object(4)
memory usage: 40.8+ KB

Possiamo leggere anche file excel, in questo modo (senza assegnazione a un dataframe)

In [39]:
pd.read_excel("Credit_ISLR.xlsx")

,Column1,ID,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,1,14891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,2,106025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,3,104593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,4,148924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,5,55882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,396,12096,4100,307,3,32,13,Male,No,Yes,Caucasian,560
396,397,397,13364,3838,296,5,65,17,Male,No,No,African American,480
397,398,398,57872,4171,321,5,67,12,Female,No,Yes,Caucasian,138
398,399,399,37728,2525,192,1,44,13,Male,No,Yes,Caucasian,0
399,400,400,18701,5524,415,5,64,7,Female,No,No,Asian,966

**Nota**: dove stanno questi file?
* se nella funzione `pd.read_csv` (oppure `pd.read_excel`) √® riportato **solo** il nome del file (cio√® senza cammino) il file deve trovarsi nella **STESSA** cartella del notebook
* √® tuttavia possibile che il file da caricare NON si trovi nella cartella corrente; in questo caso occorre specificare il cammino nella funzione pandas. Ci sono due possibilit√†:
    - specificare il cammino assoluto del file (vedi esempio pi√π avanti)
    - indicare un cammino relativo con queste regole di base

    ```text
        . = cartella corrente

        .. = cartella superiore

        ../altro/ = si sale e poi si scende in un‚Äôaltra cartella

        subdir/file.csv = sottocartella della corrente
```

Qual √® la cartella corrente del notebook? Si pu√≤ vedere in questo modo:

In [30]:
%pwd       # print working directory

'c:\\Users\\Utente\\Desktop\\salvataggi\\SALVATAGGIO DATI\\Documents\\Seminari\\Data Science (corsi)\\Repository GitHub corsi\\Corso-Banca-Popolare-Puglia-Basilicata'

Se voglio sapere i contenuti della directory, per verificare la presenza del file da caricare, posso usare questo secondo comando:

In [31]:
%ls

 Il volume nell'unitÔøΩ C ÔøΩ OS
 Numero di serie del volume: 7E81-0BB8

 Directory di c:\Users\Utente\Desktop\salvataggi\SALVATAGGIO DATI\Documents\Seminari\Data Science (corsi)\Repository GitHub corsi\Corso-Banca-Popolare-Puglia-Basilicata

16/12/2025  11:16    <DIR>          .
16/12/2025  11:16    <DIR>          ..
15/12/2025  10:13                66 .gitattributes
15/12/2025  23:03    <DIR>          Codice_calibrazione
16/12/2025  11:23            35.470 Credit.ipynb
22/04/2024  09:35            28.082 Credit_ISLR.csv
16/12/2025  11:16            45.864 Credit_ISLR.xlsx
15/12/2025  10:09    <DIR>          Excel
20/07/2010  12:53         2.451.269 FinancialIndicators.csv
10/12/2023  17:59            54.394 german_credit_data.csv
14/12/2025  13:53            16.889 Guida installazione Python (obsoleta).docx
15/12/2025  22:09            42.764 Guida Installazione.docx
15/12/2025  10:09         6.532.488 Introduzione.pptx
11/11/2021  15:38             4.737 iris.csv
12/12/2025  12:44            16.008 Programma del corso Python.docx
15/12/2025  11:27               114 prova.py
15/12/2025  23:01           370.773 Python_Excel.xlsx
12/12/2025  11:29                80 Requisiti Python del codice Accenture di Anti-riciclaggio.txt
12/12/2025  12:54            16.666 Requisiti Software di installazione.docx
15/12/2025  21:59             1.027 Template_partenza.ipynb
              16 File      9.616.691 byte
               4 Directory  301.613.142.016 byte disponibili

Lettura del file col cammino assoluto:

In [ ]:
pd.read_excel(r"C:\Users\Utente\Desktop\salvataggi\SALVATAGGIO DATI\Documents\Seminari\Data Science (corsi)\Repository GitHub corsi\Corso-Banca-Popolare-Puglia-Basilicata\Credit_ISLR.xlsx")

# Subsetting
A volte non ci interessa leggere il dataframe nella sua interezza, ma solo alcune porzioni di righe e/o colonne (**subset**). Si fa in questo modo

In [ ]:
# subsetting di RIGA
display(df[:2])      # le righe 0 e 1
display(df[5:])      # le righe dalla 5 in poi
display(df[4:7])     # le righe dalla 4 alla 5 (l'intervallo √® definito come: [val-iniz, val-fin+1]

# per estrarre una SINGOLA riga occorre usare il metodo `loc`
df.loc[5]

,Unnamed: 0,ID,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903

,Unnamed: 0,ID,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
5,6,6,80.180,8047,569,4,77,10,Male,No,No,Caucasian,1151
6,7,7,20.996,3388,259,2,37,12,Female,No,No,African American,203
7,8,8,71.408,7114,512,2,87,9,Male,No,No,Asian,872
8,9,9,15.125,3300,266,5,66,13,Female,No,No,Caucasian,279
9,10,10,71.061,6819,491,3,41,19,Female,Yes,Yes,African American,1350
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,396,396,12.096,4100,307,3,32,13,Male,No,Yes,Caucasian,560
396,397,397,13.364,3838,296,5,65,17,Male,No,No,African American,480
397,398,398,57.872,4171,321,5,67,12,Female,No,Yes,Caucasian,138
398,399,399,37.728,2525,192,1,44,13,Male,No,Yes,Caucasian,0
399,400,400,18.701,5524,415,5,64,7,Female,No,No,Asian,966

,Unnamed: 0,ID,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
4,5,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331
5,6,6,80.180,8047,569,4,77,10,Male,No,No,Caucasian,1151
6,7,7,20.996,3388,259,2,37,12,Female,No,No,African American,203

Unnamed: 0            6
ID                    6
Income            80.18
Limit              8047
Rating              569
Cards                 4
Age                  77
Education            10
Gender             Male
Student              No
Married              No
Ethnicity     Caucasian
Balance            1151
Name: 5, dtype: object

Bisogna lavorare in Python con dati [tidy](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html), che hanno 2 caratteristiche:
- non ci sono celle multivalore, come invece la colonna *Product* della seguente tabella (che pu√≤ contenere un numero indefinito di valori)<br>
![](multi_valued_cells.png)<br>
perch√® le celle multi-valore sono lente da analizzare (tramite funzioni di parsing della cella)
- le unit√† sono sulle righe del dataframe (clienti, prodotti, i prestiti, le transazioni, ecc), gli attributi sono sulle colonne; √® possibile invertire un dataframe, nel caso non sia tidy, con il metodo `T`:

In [85]:
# esempio di dataframe *non tidy* e quindi scomodo
df.T

,0,1,2,3,4,5,6,7,8,9,...,390,391,392,393,394,395,396,397,398,399
Unnamed: 0,1,2,3,4,5,6,7,8,9,10,...,391,392,393,394,395,396,397,398,399,400
ID,1,2,3,4,5,6,7,8,9,10,...,391,392,393,394,395,396,397,398,399,400
Income,14.891,106.025,104.593,148.924,55.882,80.18,20.996,71.408,15.125,71.061,...,135.118,73.327,25.974,17.316,49.794,12.096,13.364,57.872,37.728,18.701
Limit,3606,6645,7075,9504,4897,8047,3388,7114,3300,6819,...,10578,6555,2308,1335,5758,4100,3838,4171,2525,5524
Rating,283,483,514,681,357,569,259,512,266,491,...,747,472,196,138,410,307,296,321,192,415
Cards,2,3,4,3,2,4,2,2,5,3,...,3,2,2,2,4,3,5,5,1,5
Age,34,82,71,36,68,77,37,87,66,41,...,81,43,24,65,40,32,65,67,44,64
Education,11,15,11,11,16,10,12,9,13,19,...,15,15,10,13,8,13,17,12,13,7
Gender,Male,Female,Male,Female,Male,Male,Female,Male,Female,Female,...,Female,Female,Male,Male,Male,Male,Male,Female,Male,Female
Student,No,Yes,No,No,No,No,No,No,No,Yes,...,No,No,No,No,No,No,No,No,No,No
Married,Yes,Yes,No,No,Yes,No,No,No,No,Yes,...,Yes,No,No,No,No,Yes,No,Yes,Yes,No
Ethnicity,Caucasian,Asian,Asian,Asian,Caucasian,Caucasian,African American,Asian,Caucasian,African American,...,Asian,Caucasian,Asian,African American,Caucasian,Caucasian,African American,Caucasian,Caucasian,Asian
Balance,333,903,580,964,331,1151,203,872,279,1350,...,1393,721,0,0,734,560,480,138,0,966

# Funzioni vs metodi
E' importante distinguerli:
* una **funzione** √® la classica procedura di codice presente in tutti i linguaggi, che ha degli argomenti di input e dei risultati, in genere restituiti con una *return*. Come in quasi tutti i linguaggi, esistono due tipi di funzione:
    - predefinite (built-in); ad esempio in python: `print`, `display`
    - definite dall'utente (custom o user-defined): in python si definiscono con la parola chiave `def`
* un **metodo** √® invece una funzione applicabile solo agli oggetti di una certa classe. **Python √® un linguaggio ad oggetti**

Sia le funzioni che i metodi hanno l'elenco dei possibili argomenti dentro le parentesi tonde.<br>
Le funzioni (sia built-in che user-defined) hanno **obbligatoriamente parentesi ed argomenti**. Al contrario, in alcuni pochi casi, i metodi (di *pandas* possono non avere (): `shape`, `size`, `dtypes`, `T`, ecc

In [ ]:
# esempio di funzione definita dall'utente:
def somma(a, b):
    """Somma due numeri e restituisce il risultato."""
    return a + b

res = somma(3,2)

display(res)

5

Ci sono valori mancanti? (celle del dataframe non valorizzate)

I valori mancanti sono spesso chiamati MV (Missing Value) oppure NA (Not Available)

In [44]:
df.isna()  # fa un test booleano cella per cella

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
395,False,False,False,False,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False,False,False
397,False,False,False,False,False,False,False,False,False,False,False
398,False,False,False,False,False,False,False,False,False,False,False
399,False,False,False,False,False,False,False,False,False,False,False

Se il dataframe √® grande, o comunque non √® visualizzato tutto, non √® facile accorgersi della presenza di celle mancanti (`True`).<br>
Poich√® in Python `True` √® memorizzato come 1 e `False` come 0 √® sufficiente fare la somma. Se essa √® 0 --> non ci sono NA/MV, se √® > 0, il valore della somma √® il numero di NA/MV del dataframe

In [46]:
import numpy as np
np.sum(df.isna())

c:\Users\Utente\anaconda3\Lib\site-packages\numpy\_core\fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

Income       0
Limit        0
Rating       0
Cards        0
Age          0
Education    0
Gender       0
Student      0
Married      0
Ethnicity    0
Balance      0
dtype: int64

Vogliamo inserire qualche NA/MV per prova. Si usa Gli oggetti prima vista posso

**Caso con file con NA/MV**